#search-container {
  display: flex;
  align-items: center;

  padding-top: 30px;
}

#search-container input {
  padding: 22px 20px;
  width: 100%;

  background-color: var(--primary);

  border-radius: 10px;
  border: none;
  outline: 0;

  font-size: 1.2rem;
}

/*
  Daqui pra baixo não está sendo utilizado
*/
#search-container button {
  height: 60px;
  width: 150px;
  border-radius: 5px;
  border-style: none;
  outline: 0;

  margin-left: 5px;

  transition: 0.5s;

  cursor: pointer;
}

#search-container button:hover {
  opacity: 1;
  background-color: aquamarine;
}
