.movies-grid ul{
  

  text-align: center;
}

.movies-grid li {
  list-style: none;
  margin-top: 1rem;

  display: inline-block;
}

.movies-grid li img {
  cursor: pointer;

  width: 200px;
  height: 300px;

  opacity: 0.7;
  transition: 0.5s;
}

.movies-grid li img:hover {
  opacity: 1;
}

.load-more {
  font-size: 2.5rem;

  padding: 0 auto;

  cursor: pointer;

  width: 100%;
  height: 50px;
  border-style: none;
  outline: 0;

  transition: 0.5s;

  margin-bottom: 30px;
}

.load-more:hover {
  opacity: 1;
  background-color: aquamarine;
}
