/* variabels */
:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #00adb5;
  --quaternary: #eeeeee;
  --quinary: #828282;
}

/* body default */
body {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  background-color: var(--secondary);

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset */
body,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font: 400 18px Roboto, sans-serif;
  color: var(--quaternary);
}

ul {
  list-style: none;
}
