#movie-container .info-container .poster {
    display: none;
}

#movie-container>.info-container>section {
    width: 100%;
}

#movie-container>.info-container>section:not(:first-child) {
    margin-top: 10px;
}

#movie-container .info-container .movie-details {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: var(--quaternary);
    line-height: 1.4;
}

#movie-container .info-container .movie-details .movie-title h1 {
    font-size: 30px;
}

#movie-container .info-container .movie-details .movie-info {
    margin-top: 20px;
}

#movie-container .info-container .movie-details .movie-info span {
    margin-right: 9px;
    padding-right: 11px;
    font-size: 14px;
}

#movie-container .info-container .movie-details .movie-info span:not(:last-child) {
    border-right: 1px solid #a3a3a3;
}

#movie-container .info-container .movie-details .movie-info .maturity-number {
    /* border: 1px solid #a1a1a1; */
}

#movie-container .info-container .movie-details .movie-synopsis {
    margin: 30px 0;
}

#movie-container .info-container .movie-details .movie-more-details {
    display: flex;
    flex-direction: column;
}

#movie-container .info-container .movie-details .movie-more-details strong:not(:first-child) {
    margin-top: 16px;
}

#movie-container .backdrop-image img {
    width: 100%;
}


/* small tablet version */


/* @media screen and (min-width: 620px) {} */


/* tablet version */

@media screen and (min-width: 960px) {
    #movie-container>.backdrop-image {
        position: relative;
    }
    #movie-container .info-container {
        display: flex;
        align-items: center;
    }
    #movie-container .info-container section:not(:last-child) {
        position: absolute;
        transform: translateX(5%) translateY(-150%);
        max-width: 500px;
    }
}


/* desktop version */


/* @media screen and (min-width: 1200px) {} */